openapi: 3.0.0
info:
  title: FootAPI
  version: 1.0.0
  description: This is the OpenAPI specification for the FootAPI.
servers:
- url: https://rendercodex.com
  description: Local development server
paths:
  /api/tv/country/all/event/{id}:
    get:
      tags:
      - TV
      summary: Get match TV countries
      operationId: matchTvCountries
      description: Lists the countries and the TV channels within them that are broadcasting
        a specific match.
      parameters:
      - name: id
        in: path
        required: true
        example: 10974920
        schema:
          type: integer
        description: The unique identifier for the match.
      responses:
        '200':
          description: A JSON object listing countries and their broadcasting channels.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Match with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/tv/channel/{channId}/event/{id}:
    get:
      tags:
      - TV
      summary: Get match TV channel votes
      operationId: matchTvChannelVotes
      description: Fetches viewer voting data from a specific TV channel that is broadcasting
        the match.
      parameters:
      - name: channId
        in: path
        required: true
        example: 3177
        schema:
          type: integer
        description: The unique identifier for the TV channel.
      - name: id
        in: path
        required: true
        example: 10974920
        schema:
          type: integer
        description: The unique identifier for the match.
      responses:
        '200':
          description: A JSON object containing viewer vote data from the channel.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Match or channel with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/img/flag/{flag}:
    get:
      tags:
      - Country
      summary: Get country flag
      operationId: countryFlag
      description: Fetches the PNG flag image asset corresponding to a provided country
        code. The response is the raw image data.
      parameters:
      - name: flag
        in: path
        required: true
        example: jp
        schema:
          type: string
        description: Country code or identifier (e.g., 'EN' for England).
      responses:
        '200':
          description: The country's flag image file.
          content:
            image/png:
              schema:
                type: string
                format: binary
        '404':
          description: Flag with the specified code not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/country/{code}/flag:
    get:
      tags:
      - Country
      summary: Get country flag (img API)
      operationId: countryFlagImgApi
      description: Fetches the flag image by country code. The response is the raw
        image data.
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
        description: Country code or identifier (e.g., 'EN' for England).
      responses:
        '200':
          description: The country's flag image file.
          content:
            image/png:
              schema:
                type: string
                format: binary
        '404':
          description: Flag with the specified code not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/placeholder/tournament.png:
    get:
      tags:
      - Tournament
      summary: Get tournament placeholder image
      operationId: tournamentPlaceholderImage
      description: Returns a static placeholder graphic for a tournament. The response
        is an SVG image.
      responses:
        '200':
          description: The placeholder SVG image file.
          content:
            image/svg+xml:
              schema:
                type: string
                format: binary
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/placeholder/tournament.svg:
    get:
      tags:
      - Tournament
      summary: Get tournament placeholder image
      operationId: tournamentPlaceholderImageTournamentSvg
      description: Returns a static placeholder graphic for a tournament. The response
        is an SVG image.
      responses:
        '200':
          description: The placeholder SVG image file.
          content:
            image/svg+xml:
              schema:
                type: string
                format: binary
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/placeholder/team.svg:
    get:
      tags:
      - Team
      summary: Get team placeholder image
      operationId: teamPlaceholderImage
      description: Returns a static placeholder graphic for a team. The response is
        an SVG image.
      responses:
        '200':
          description: The placeholder SVG image file.
          content:
            image/svg+xml:
              schema:
                type: string
                format: binary
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/placeholder/player.png:
    get:
      tags:
      - Player
      summary: Get player placeholder image
      operationId: playerPlaceholderImage
      description: Returns a static placeholder graphic for a player. The response
        is an SVG image.
      responses:
        '200':
          description: The placeholder SVG image file.
          content:
            image/svg+xml:
              schema:
                type: string
                format: binary
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/placeholder/player.svg:
    get:
      tags:
      - Player
      summary: Get player placeholder image
      operationId: playerPlaceholderImagePlayerSvg
      description: Returns a static placeholder graphic for a player. The response
        is an SVG image.
      responses:
        '200':
          description: The placeholder SVG image file.
          content:
            image/svg+xml:
              schema:
                type: string
                format: binary
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/placeholder/manager.png:
    get:
      tags:
      - Manager
      summary: Get manager placeholder image
      operationId: managerPlaceholderImage
      description: Returns a static placeholder graphic for a manager. The response
        is an SVG image.
      responses:
        '200':
          description: The placeholder SVG image file.
          content:
            image/svg+xml:
              schema:
                type: string
                format: binary
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/placeholder/manager.svg:
    get:
      tags:
      - Manager
      summary: Get manager placeholder image
      operationId: managerPlaceholderImageManagerSvg
      description: Returns a static placeholder graphic for a manager. The response
        is an SVG image.
      responses:
        '200':
          description: The placeholder SVG image file.
          content:
            image/svg+xml:
              schema:
                type: string
                format: binary
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/search/{term}:
    get:
      tags:
      - Search
      summary: Search football entities
      operationId: footballEntities
      description: Searches for football teams, players, and tournaments. The `type`
        parameter in the upstream URL is hardcoded to `all`.
      parameters:
      - name: term
        in: path
        required: true
        example: champions
        schema:
          type: string
        description: Search term (e.g., 'Manchester United')
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: Page number for pagination (defaults to 0)
      responses:
        '200':
          description: A JSON object containing search results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/matches/{day}/{month}/{year}:
    get:
      tags:
      - Match
      summary: Get all football matches by date
      operationId: allFootballMatchesByDate
      description: Fetches all football matches scheduled for a specific date by combining
        results from two upstream endpoints (regular and inverse).
      parameters:
      - name: day
        in: path
        required: true
        example: 14
        schema:
          type: integer
        description: Day of the month (e.g., 15)
      - name: month
        in: path
        required: true
        example: 8
        schema:
          type: integer
        description: Month of the year (e.g., 7)
      - name: year
        in: path
        required: true
        example: 2022
        schema:
          type: integer
        description: Year (e.g., 2024)
      responses:
        '200':
          description: A JSON object containing a list of matches for the specified
            date.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '400':
          description: Invalid date format in path.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/matches/live:
    get:
      tags:
      - Match
      summary: Get live football matches
      operationId: liveFootballMatches
      description: Retrieves all currently live football matches.
      responses:
        '200':
          description: A JSON object containing a list of live matches.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/matches/top/{day}/{month}/{year}:
    get:
      tags:
      - Match
      summary: Get top football matches by date
      operationId: topFootballMatchesByDate
      description: Retrieves a curated list of top-tier or more important football
        matches for a specific date.
      parameters:
      - name: day
        in: path
        required: true
        example: 14
        schema:
          type: integer
        description: Day of the month (e.g., 15)
      - name: month
        in: path
        required: true
        example: 8
        schema:
          type: integer
        description: Month of the year (e.g., 7)
      - name: year
        in: path
        required: true
        example: 2022
        schema:
          type: integer
        description: Year (e.g., 2024)
      responses:
        '200':
          description: A JSON object containing a list of top matches.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '400':
          description: Invalid date format in path.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/matches/bottom/{day}/{month}/{year}:
    get:
      tags:
      - Match
      summary: Get bottom football matches by date
      operationId: bottomFootballMatchesByDate
      description: Retrieves a list of less prominent or lower-tier football matches
        for a specific date.
      parameters:
      - name: day
        in: path
        required: true
        example: 14
        schema:
          type: integer
        description: Day of the month (e.g., 15)
      - name: month
        in: path
        required: true
        example: 8
        schema:
          type: integer
        description: Month of the year (e.g., 7)
      - name: year
        in: path
        required: true
        example: 2022
        schema:
          type: integer
        description: Year (e.g., 2024)
      responses:
        '200':
          description: A JSON object containing a list of bottom-tier matches.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '400':
          description: Invalid date format in path.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/tournament/categories:
    get:
      tags:
      - Tournament
      summary: Get football tournament categories
      operationId: footballTournamentCategories
      description: Retrieves a list of all available football tournament categories,
        typically corresponding to countries or regions.
      responses:
        '200':
          description: A JSON object containing a list of tournament categories.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/tournament/all/category/{id}:
    get:
      tags:
      - Tournament
      summary: Get tournaments by category
      operationId: tournamentsByCategory
      description: Retrieves all unique tournaments within a specific category ID
        (e.g., a country).
      parameters:
      - name: id
        in: path
        required: true
        example: 785
        schema:
          type: integer
        description: Category ID (e.g., 8 for England)
      responses:
        '200':
          description: A JSON object containing a list of unique tournaments for the
            category.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Category with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/category/{id}/events/{day}/{month}/{year}:
    get:
      tags:
      - Category
      summary: Get matches by category and date
      operationId: matchesByCategoryAndDate
      description: Retrieves all football matches for a specific category on a given
        date.
      parameters:
      - name: id
        in: path
        required: true
        example: 72
        schema:
          type: integer
        description: Category ID (e.g., 8 for England)
      - name: day
        in: path
        required: true
        example: 14
        schema:
          type: integer
        description: Day of the month (e.g., 15)
      - name: month
        in: path
        required: true
        example: 8
        schema:
          type: integer
        description: Month of the year (e.g., 7)
      - name: year
        in: path
        required: true
        example: 2022
        schema:
          type: integer
        description: Year (e.g., 2024)
      responses:
        '200':
          description: A JSON object containing a list of scheduled matches for the
            category on the given date.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '400':
          description: Invalid date format in path.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Category with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/tournament/{tournamentId}/meta:
    get:
      tags:
      - Tournament
      summary: Get tournament metadata
      operationId: tournamentMetadata
      description: Retrieves SEO metadata and other information for a specific tournament.
      parameters:
      - name: tournamentId
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the tournament.
      responses:
        '200':
          description: A JSON object containing metadata for the tournament.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Tournament with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/rankings/fifa:
    get:
      tags:
      - Ranking
      summary: Get FIFA rankings
      operationId: fifaRankings
      description: Retrieves the current official FIFA national team rankings.
      responses:
        '200':
          description: A JSON object containing the list of FIFA rankings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/rankings/uefa/countries:
    get:
      tags:
      - Ranking
      summary: Get UEFA countries rankings
      operationId: uefaCountriesRankings
      description: Retrieves the current UEFA coefficient rankings for national associations.
      responses:
        '200':
          description: A JSON object containing the list of UEFA country rankings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/rankings/uefa/clubs:
    get:
      tags:
      - Ranking
      summary: Get UEFA clubs rankings
      operationId: uefaClubsRankings
      description: Retrieves the current UEFA coefficient rankings for club teams.
      responses:
        '200':
          description: A JSON object containing the list of UEFA club rankings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/match/{id}:
    get:
      tags:
      - Match
      summary: Get football match details
      operationId: footballMatchDetails
      description: Retrieves detailed information for a specific football match by
        its ID, including teams, score, status, and tournament info.
      parameters:
      - name: id
        in: path
        required: true
        example: 10200674
        schema:
          type: integer
        description: Unique identifier for the match.
      responses:
        '200':
          description: A JSON object containing detailed information about the match.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Match with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/match/{id}/statistics:
    get:
      tags:
      - Match
      summary: Get match statistics
      operationId: matchStatistics
      description: Retrieves comprehensive team and player statistics for a specific
        match, such as possession, shots, and passes.
      parameters:
      - name: id
        in: path
        required: true
        example: 10114139
        schema:
          type: integer
        description: Unique identifier for the match.
      responses:
        '200':
          description: A JSON object containing comprehensive statistics for the match.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Match with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/match/{id}/incidents:
    get:
      tags:
      - Match
      summary: Get match incidents
      operationId: matchIncidents
      description: Retrieves a chronological list of all significant incidents from
        a match, such as goals, cards, and substitutions.
      parameters:
      - name: id
        in: path
        required: true
        example: 10114139
        schema:
          type: integer
        description: Unique identifier for the match.
      responses:
        '200':
          description: A JSON object containing a list of incidents from the match.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Match with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/match/{customId}/h2h:
    get:
      tags:
      - Match
      summary: Get head-to-head history
      operationId: headToHeadHistory
      description: Retrieves the detailed match history for head-to-head encounters
        between the two teams in a specific match.
      parameters:
      - name: customId
        in: path
        required: true
        example: xdbsugb
        schema:
          type: string
        description: A custom identifier for the match, used for H2H lookups.
      responses:
        '200':
          description: A JSON object containing a detailed list of past H2H matches.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Match with the specified custom ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/match/{id}/duel:
    get:
      tags:
      - Match
      summary: Get head-to-head summary
      operationId: headToHeadSummary
      description: Retrieves a summary of head-to-head statistics, including win/draw/loss
        counts and recent form.
      parameters:
      - name: id
        in: path
        required: true
        example: 10114139
        schema:
          type: integer
        description: Unique identifier for the match.
      responses:
        '200':
          description: A JSON object containing a summary of H2H statistics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Match with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/match/{id}/form:
    get:
      tags:
      - Match
      summary: Get match form analysis
      operationId: matchFormAnalysis
      description: Retrieves pre-game form, including recent results (e.g., WWDLW)
        and key stats for both teams.
      parameters:
      - name: id
        in: path
        required: true
        example: 10114139
        schema:
          type: integer
        description: Unique identifier for the match.
      responses:
        '200':
          description: A JSON object containing pre-game form and performance trends.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Match with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/match/{id}/odds:
    get:
      tags:
      - Match
      summary: Get match betting odds
      operationId: matchBettingOdds
      description: Retrieves available betting odds from bookmaker `1` for a specific
        match, including various markets.
      parameters:
      - name: id
        in: path
        required: true
        example: 10114139
        schema:
          type: integer
        description: Unique identifier for the match.
      responses:
        '200':
          description: A JSON object containing a list of available betting odds.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Match with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/match/{id}/odds/{providerId}/featured:
    get:
      tags:
      - Match
      summary: Get match featured odds
      operationId: matchFeaturedOdds
      description: Retrieves featured odds for a specific match and provider.
      parameters:
      - name: id
        in: path
        required: true
        example: 14054688
        schema:
          type: integer
        description: Unique identifier for the match.
      - name: providerId
        in: path
        required: true
        example: 1
        schema:
          type: integer
        description: Provider identifier.
      responses:
        '200':
          description: Featured odds for the match.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Match with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/match/{id}/provider/{providerId}/winning-odds:
    get:
      tags:
      - Match
      summary: Get match winning odds
      operationId: matchWinningOdds
      description: Retrieves winning odds for a specific match and provider.
      parameters:
      - name: id
        in: path
        required: true
        example: 14030789
        schema:
          type: integer
        description: Unique identifier for the match.
      - name: providerId
        in: path
        required: true
        example: 1
        schema:
          type: integer
        description: Provider identifier.
      responses:
        '200':
          description: Winning odds for the match.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Match with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/match/{id}/shotmap:
    get:
      tags:
      - Match
      summary: Get match shot map
      operationId: matchShotMap
      description: Retrieves the shot map for a match, showing the location and outcome
        of every shot taken.
      parameters:
      - name: id
        in: path
        required: true
        example: 10230564
        schema:
          type: integer
        description: Unique identifier for the match.
      responses:
        '200':
          description: A JSON object containing shot map data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Match with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/match/{id}/graph:
    get:
      tags:
      - Match
      summary: Get match momentum graph
      operationId: matchMomentumGraph
      description: Retrieves data points for the match momentum graph, visualizing
        team pressure and scoring progression.
      parameters:
      - name: id
        in: path
        required: true
        example: 10114139
        schema:
          type: integer
        description: Unique identifier for the match.
      responses:
        '200':
          description: A JSON object containing data points for the match momentum
            graph.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Match with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/match/{id}/lineups:
    get:
      tags:
      - Match
      summary: Get match lineups
      operationId: matchLineups
      description: Retrieves starting lineups, formations, substitutes, and coach
        details for both teams.
      parameters:
      - name: id
        in: path
        required: true
        example: 10114139
        schema:
          type: integer
        description: Unique identifier for the match.
      responses:
        '200':
          description: A JSON object containing starting lineups and substitutes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Match with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/match/{id}/win-probability:
    get:
      tags:
      - Match
      summary: Get match win probability
      operationId: matchWinProbability
      description: Retrieves real-time win, draw, and loss probabilities at different
        points during the match.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the match.
      responses:
        '200':
          description: A JSON object containing win probability data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Match with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/match/{id}/player/{playerId}/statistics:
    get:
      tags:
      - Match
      summary: Get player match statistics
      operationId: playerMatchStatistics
      description: Fetches detailed performance data for a single player within a
        specific match, including a statistics summary and heatmap.
      parameters:
      - name: id
        in: path
        required: true
        example: 10200674
        schema:
          type: integer
        description: Unique identifier for the match.
      - name: playerId
        in: path
        required: true
        example: 128383
        schema:
          type: integer
        description: Unique identifier for the player.
      responses:
        '200':
          description: A JSON object containing detailed statistics for the player
            in the match.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Match or player with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/match/{id}/player/{playerId}/rating-breakdown:
    get:
      tags:
      - Match
      summary: Get match player rating breakdown
      operationId: matchPlayerRatingBreakdown
      description: Returns the component breakdown that forms a player's SofaScore
        rating for a given match.
      parameters:
      - name: id
        in: path
        required: true
        example: 14787860
        schema:
          type: integer
        description: Unique identifier for the match.
      - name: playerId
        in: path
        required: true
        example: 907152
        schema:
          type: integer
        description: Unique identifier for the player.
      responses:
        '200':
          description: A JSON object detailing the rating components.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Match or player with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/match/{id}/player/{playerId}/shotmap:
    get:
      tags:
      - Match
      summary: Get football match player shotmap
      operationId: footballMatchPlayerShotmap
      description: Retrieves the shot map for a single player in a match, showing
        shot locations and outcomes.
      parameters:
      - name: id
        in: path
        required: true
        example: 10230635
        schema:
          type: integer
        description: Unique identifier for the match.
      - name: playerId
        in: path
        required: true
        example: 12994
        schema:
          type: integer
        description: Unique identifier for the player.
      responses:
        '200':
          description: A JSON object containing the player's shot map data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Match or player with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/match/{id}/player/{playerId}/heatmap:
    get:
      tags:
      - Match
      summary: Get match player heatmap
      operationId: matchPlayerHeatmap
      description: Provides positional heatmap data showing areas of on-field activity
        for a specific player during a match.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the match.
      - name: playerId
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the player.
      responses:
        '200':
          description: A JSON object containing the player's heatmap data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Match or player with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/match/{id}/average-positions:
    get:
      tags:
      - Match
      summary: Get match average positions
      operationId: matchAveragePositions
      description: Provides positional heatmap data showing the average on-field position
        for all players during a match.
      parameters:
      - name: id
        in: path
        required: true
        example: 10408343
        schema:
          type: integer
        description: The unique identifier of the match.
      responses:
        '200':
          description: A JSON object containing average position data for both teams.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Match with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/match/{id}/highlights:
    get:
      tags:
      - Match
      summary: Get match highlights
      operationId: matchHighlights
      description: Retrieves a list of video highlight clips and related metadata
        for a specific match.
      parameters:
      - name: id
        in: path
        required: true
        example: 10114139
        schema:
          type: integer
        description: The unique identifier of the match.
      responses:
        '200':
          description: A JSON object containing highlight clips and metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Match with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/match/{id}/managers:
    get:
      tags:
      - Match
      summary: Get match managers
      operationId: matchManagers
      description: Returns information about the managers (coaches) for both teams
        in a specified match.
      parameters:
      - name: id
        in: path
        required: true
        example: 10114139
        schema:
          type: integer
        description: Unique identifier for the match.
      responses:
        '200':
          description: A JSON object containing details for both managers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Match with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/match/{id}/votes:
    get:
      tags:
      - Match
      summary: Get match votes
      operationId: matchVotes
      description: Returns fan poll percentages and vote totals for the match outcome
        (home win, draw, away win).
      parameters:
      - name: id
        in: path
        required: true
        example: 10114139
        schema:
          type: integer
        description: Unique identifier for the match.
      responses:
        '200':
          description: A JSON object containing vote counts and percentages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Match with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/match/{id}/best-players:
    get:
      tags:
      - Match
      summary: Get match best players
      operationId: matchBestPlayers
      description: Returns ratings and key statistics for the standout players in
        a match.
      parameters:
      - name: id
        in: path
        required: true
        example: 10114139
        schema:
          type: integer
        description: Unique identifier for the match.
      responses:
        '200':
          description: A JSON object containing a list of the best performing players.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Match with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/match/{id}/streaks:
    get:
      tags:
      - Match
      summary: Get team streaks
      operationId: teamStreaks
      description: Provides recent form and streak information (e.g., unbeaten runs,
        winless streaks) for each team in a match.
      parameters:
      - name: id
        in: path
        required: true
        example: 10114139
        schema:
          type: integer
        description: Unique identifier for the match.
      responses:
        '200':
          description: A JSON object containing streak information for both teams.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Match with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/match/{id}/streaks/odds:
    get:
      tags:
      - Match
      summary: Get match streaks with odds
      operationId: matchStreaksWithOdds
      description: Returns recent team streaks combined with associated betting odds
        from bookmaker `1`.
      parameters:
      - name: id
        in: path
        required: true
        example: 10114139
        schema:
          type: integer
        description: Unique identifier for the match.
      responses:
        '200':
          description: A JSON object containing team streaks and betting odds.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Match with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/match/{id}/team/{teamId}/heatmap:
    get:
      tags:
      - Match
      summary: Get match team heatmap by ID
      operationId: matchTeamHeatmapById
      description: Provides an aggregated positional data heatmap for an entire team
        in a match, specified by its ID.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the match.
      - name: teamId
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the team.
      responses:
        '200':
          description: A JSON object containing the team's heatmap data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Match or team with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/match/{id}/commentary:
    get:
      tags:
      - Match
      summary: Get match commentary
      operationId: matchCommentary
      description: Fetches a live text commentary feed with entries for key moments
        in the specified match.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the match.
      responses:
        '200':
          description: A JSON object containing a list of commentary entries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Match with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/match/{id}/players/featured:
    get:
      tags:
      - Match
      summary: Get match featured players
      operationId: matchFeaturedPlayers
      description: Retrieves a list of players highlighted for the specified match.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: The unique identifier of the match.
      responses:
        '200':
          description: A JSON object containing a list of featured players.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Match with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/match/{eventId}/best-players/summary:
    get:
      tags:
      - Match
      summary: Get match best-player summary
      operationId: matchBestPlayerSummary
      description: Returns a summary of the best player's performance, highlighting
        standout statistics.
      parameters:
      - name: eventId
        in: path
        required: true
        schema:
          type: integer
        description: The unique identifier of the match.
      responses:
        '200':
          description: A JSON object containing a summary of the best player's performance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Match with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/team/{id}:
    get:
      tags:
      - Team
      summary: Get team details
      operationId: teamDetails
      description: Fetches comprehensive details for a specific team, including name,
        country, venue, and tournament information.
      parameters:
      - name: id
        in: path
        required: true
        example: 2672
        schema:
          type: integer
        description: The unique identifier of the team.
      responses:
        '200':
          description: A JSON object containing detailed information about the team.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Team with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/team/{id}/image:
    get:
      tags:
      - Team
      summary: Get team logo
      operationId: teamLogo
      description: Downloads the official logo (crest) for the specified team ID.
        The response is the raw image data.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the team.
      responses:
        '200':
          description: The team's logo image file.
          content:
            image/png:
              schema:
                type: string
                format: binary
        '404':
          description: Team with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/team/{id}/image/small:
    get:
      tags:
      - Team
      summary: Get team small logo
      operationId: teamSmallLogo
      description: Downloads the small logo (crest) for the specified team ID. The response is the raw image data.
      parameters:
      - name: id
        in: path
        required: true
        example: 6117
        schema:
          type: integer
        description: Unique identifier for the team.
      responses:
        '200':
          description: The team's small logo image file.
          content:
            image/png:
              schema:
                type: string
                format: binary
        '404':
          description: Team with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/team/{id}/players:
    get:
      tags:
      - Team
      summary: Get team squad
      operationId: teamSquad
      description: Returns the current roster of players (squad) associated with the
        specified team.
      parameters:
      - name: id
        in: path
        required: true
        example: 2672
        schema:
          type: integer
        description: The unique identifier of the team.
      responses:
        '200':
          description: A JSON object containing the team's current player roster.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Team with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/team/{id}/media:
    get:
      tags:
      - Team
      summary: Get team media
      operationId: teamMedia
      description: Returns a collection of media items (images, videos) related to
        the specified team.
      parameters:
      - name: id
        in: path
        required: true
        example: 2672
        schema:
          type: integer
        description: The unique identifier of the team.
      responses:
        '200':
          description: A JSON object containing a list of media items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Team with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/team/{id}/matches/near:
    get:
      tags:
      - Team
      summary: Get team near matches
      operationId: teamNearMatches
      description: Returns a list of recent and upcoming matches for the specified
        team, centered around the current date.
      parameters:
      - name: id
        in: path
        required: true
        example: 2672
        schema:
          type: integer
        description: The unique identifier of the team.
      responses:
        '200':
          description: A JSON object containing a list of nearby matches.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Team with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/team/{id}/matches/previous/{page}:
    get:
      tags:
      - Team
      summary: Get previous team matches
      operationId: previousTeamMatches
      description: Fetches a paginated list of completed matches for a team, sorted
        by most recent first.
      parameters:
      - name: id
        in: path
        required: true
        example: 2672
        schema:
          type: integer
        description: The unique identifier of the team.
      - name: page
        in: path
        required: true
        example: 0
        schema:
          type: integer
        description: The page number for pagination (must be >= 1).
      responses:
        '200':
          description: A paginated JSON object of the team's previous matches.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '400':
          description: Invalid page number format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Team with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/team/{id}/matches/next/{page}:
    get:
      tags:
      - Team
      summary: Get upcoming team matches
      operationId: upcomingTeamMatches
      description: Fetches a paginated list of scheduled future matches for a team,
        sorted chronologically.
      parameters:
      - name: id
        in: path
        required: true
        example: 2672
        schema:
          type: integer
        description: The unique identifier of the team.
      - name: page
        in: path
        required: true
        example: 0
        schema:
          type: integer
        description: The page number for pagination (must be >= 1).
      responses:
        '200':
          description: A paginated JSON object of the team's upcoming matches.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '400':
          description: Invalid page number format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Team with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/team/{id}/players/statistics/seasons:
    get:
      tags:
      - Team
      summary: Get team player statistics seasons
      operationId: teamPlayerStatisticsSeasons
      description: Returns a list of seasons for which player-level statistics are
        available for the specified team.
      parameters:
      - name: id
        in: path
        required: true
        example: 2672
        schema:
          type: integer
        description: The unique identifier of the team.
      responses:
        '200':
          description: A JSON object containing a list of seasons with available player
            statistics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Team with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/team/{id}/statistics/seasons:
    get:
      tags:
      - Team
      summary: Get team statistics seasons
      operationId: teamStatisticsSeasons
      description: Provides a list of seasons for which aggregated team-level statistics
        are available.
      parameters:
      - name: id
        in: path
        required: true
        example: 2672
        schema:
          type: integer
        description: The unique identifier of the team.
      responses:
        '200':
          description: A JSON object containing a list of seasons with available team
            statistics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Team with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/team/{id}/tournament/{tournamentId}/season/{seasonId}/statistics:
    get:
      tags:
      - Team
      summary: Get team overall statistics
      operationId: teamOverallStatistics
      description: Returns aggregated statistics for a team within a specific tournament
        and season.
      parameters:
      - name: id
        in: path
        required: true
        example: 2672
        schema:
          type: integer
        description: The unique identifier of the team.
      - name: tournamentId
        in: path
        required: true
        example: 7
        schema:
          type: integer
        description: The unique identifier of the tournament.
      - name: seasonId
        in: path
        required: true
        example: 36886
        schema:
          type: integer
        description: The unique identifier of the season.
      responses:
        '200':
          description: A JSON object containing the team's overall statistics for
            the season.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Team, tournament, or season with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/team/{id}/tournament/{tournamentId}/season/{seasonId}/best-players:
    get:
      tags:
      - Team
      summary: Get team top players overall
      operationId: teamTopPlayersOverall
      description: Returns a list of the top-performing players for a team in a specific
        tournament and season.
      parameters:
      - name: id
        in: path
        required: true
        example: 2672
        schema:
          type: integer
        description: The unique identifier of the team.
      - name: tournamentId
        in: path
        required: true
        example: 7
        schema:
          type: integer
        description: The unique identifier of the tournament.
      - name: seasonId
        in: path
        required: true
        example: 36886
        schema:
          type: integer
        description: The unique identifier of the season.
      responses:
        '200':
          description: A JSON object containing a list of the team's top players.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Team, tournament, or season with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/team/{id}/tournaments:
    get:
      tags:
      - Team
      summary: Get team unique tournaments
      operationId: teamUniqueTournaments
      description: Enumerates all unique competitions a team has participated in.
      parameters:
      - name: id
        in: path
        required: true
        example: 2672
        schema:
          type: integer
        description: The unique identifier of the team.
      responses:
        '200':
          description: A JSON object containing a list of unique tournaments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Team with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/team/{id}/transfers:
    get:
      tags:
      - Team
      summary: Get team transfer history
      operationId: teamTransferHistory
      description: Returns a chronological list of a team's incoming and outgoing
        player transfers.
      parameters:
      - name: id
        in: path
        required: true
        example: 2672
        schema:
          type: integer
        description: The unique identifier of the team.
      responses:
        '200':
          description: A JSON object containing lists of players transferred in and
            out.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Team with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/team/{id}/standings/seasons:
    get:
      tags:
      - Team
      summary: Get team standings seasons
      operationId: teamStandingsSeasons
      description: Retrieves a list of seasons for which standings information is
        available for the team.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: The unique identifier of the team.
      responses:
        '200':
          description: A JSON object containing a list of seasons with available standings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Team with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/team/{teamId}/tournament/{tournamentId}/season/{seasonId}/goal-distributions:
    get:
      tags:
      - Team
      summary: Get team goal distributions
      operationId: teamGoalDistributions
      description: Provides goal distribution data (goals scored/conceded in different
        time intervals) for a team in a tournament season.
      parameters:
      - name: teamId
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the team.
      - name: tournamentId
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the tournament.
      - name: seasonId
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the season.
      responses:
        '200':
          description: A JSON object containing goal distribution statistics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Team, tournament, or season with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/tournament/{tournamentId}/season/{seasonId}/team/{teamId}/performance:
    get:
      tags:
      - Tournament
      summary: Get team league performance graph
      operationId: teamLeaguePerformanceGraph
      description: Returns time-series data illustrating a team's league position
        and performance throughout a tournament season.
      parameters:
      - name: tournamentId
        in: path
        required: true
        example: 17
        schema:
          type: integer
        description: Unique identifier of the tournament.
      - name: seasonId
        in: path
        required: true
        example: 41886
        schema:
          type: integer
        description: Unique identifier for the season.
      - name: teamId
        in: path
        required: true
        example: 60
        schema:
          type: integer
        description: Unique identifier for the team.
      responses:
        '200':
          description: A JSON object containing data points for the team's performance
            graph.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Team, tournament, or season with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/player/{id}:
    get:
      tags:
      - Player
      summary: Get player details
      operationId: playerDetails
      description: Fetches profile data for a specific player, such as name, team,
        nationality, and position.
      parameters:
      - name: id
        in: path
        required: true
        example: 3041
        schema:
          type: integer
        description: Unique identifier for the player.
      responses:
        '200':
          description: A JSON object containing detailed information about the player.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Player with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/player/{id}/image:
    get:
      tags:
      - Player
      summary: Get player image
      operationId: playerImage
      description: Downloads the profile picture for the specified player ID. The
        response is the raw image data.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the player.
      responses:
        '200':
          description: The player's profile image file.
          content:
            image/png:
              schema:
                type: string
                format: binary
        '404':
          description: Player with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/player/{id}/media:
    get:
      tags:
      - Player
      summary: Get player media
      operationId: playerMedia
      description: Retrieves a collection of media items (images, videos) related
        to the specified player.
      parameters:
      - name: id
        in: path
        required: true
        example: 3041
        schema:
          type: integer
        description: The unique identifier of the player.
      responses:
        '200':
          description: A JSON object containing a list of media items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Player with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/player/{id}/statistics/national:
    get:
      tags:
      - Player
      summary: Get player national team statistics
      operationId: playerNationalTeamStatistics
      description: Returns performance data and statistics for a player's appearances
        with their national team.
      parameters:
      - name: id
        in: path
        required: true
        example: 3041
        schema:
          type: integer
        description: Unique identifier for the player.
      responses:
        '200':
          description: A JSON object containing the player's national team statistics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Player with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/player/{id}/summary:
    get:
      tags:
      - Player
      summary: Get player last year summary
      operationId: playerLastYearSummary
      description: Fetches aggregated performance metrics for a player from the previous
        year.
      parameters:
      - name: id
        in: path
        required: true
        example: 3041
        schema:
          type: integer
        description: Unique identifier for the player.
      responses:
        '200':
          description: A JSON object containing a summary of the player's performance
            last year.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Player with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/player/{id}/matches/near:
    get:
      tags:
      - Player
      summary: Get player nearby matches
      operationId: playerNearbyMatches
      description: Returns a list of the player's recent and upcoming matches.
      parameters:
      - name: id
        in: path
        required: true
        example: 3041
        schema:
          type: integer
        description: Unique identifier for the player.
      responses:
        '200':
          description: A JSON object containing a list of nearby matches.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Player with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/player/{id}/statistics/season:
    get:
      tags:
      - Player
      summary: Get player seasonal statistics
      operationId: playerSeasonalStatistics
      description: Fetches a list of seasons for which aggregated statistics are available
        for a player.
      parameters:
      - name: id
        in: path
        required: true
        example: 3041
        schema:
          type: integer
        description: Unique identifier for the player.
      responses:
        '200':
          description: A JSON object containing a list of seasons with available statistics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Player with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/player/{id}/tournament/{tournamentId}/season/{seasonId}/last-ratings:
    get:
      tags:
      - Player
      summary: Get player last ratings
      operationId: playerLastRatings
      description: Fetches the most recent ratings for a player in a specific tournament
        season.
      parameters:
      - name: id
        in: path
        required: true
        example: 3041
        schema:
          type: integer
        description: Unique identifier for the player.
      - name: tournamentId
        in: path
        required: true
        example: 7
        schema:
          type: integer
        description: Unique identifier for the tournament.
      - name: seasonId
        in: path
        required: true
        example: 36886
        schema:
          type: integer
        description: Unique identifier for the season.
      responses:
        '200':
          description: A JSON object containing the player's last ratings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Player, tournament, or season with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/player/{id}/tournament/{tournamentId}/season/{seasonId}/ratings:
    get:
      tags:
      - Player
      summary: Get player ratings
      operationId: playerRatings
      description: Returns the historical rating history for a player in a specific
        tournament season.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the player.
      - name: tournamentId
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the tournament.
      - name: seasonId
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the season.
      responses:
        '200':
          description: A JSON object containing the player's rating history.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Player, tournament, or season with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/player/{id}/tournament/{tournamentId}/season/{seasonId}/statistics:
    get:
      tags:
      - Player
      summary: Get player overall statistics
      operationId: playerOverallStatistics
      description: Returns aggregated performance metrics for a player across all
        phases (e.g., regular season, playoffs) of a tournament season.
      parameters:
      - name: id
        in: path
        required: true
        example: 3041
        schema:
          type: integer
        description: The unique identifier of the player.
      - name: tournamentId
        in: path
        required: true
        example: 7
        schema:
          type: integer
        description: The unique identifier of the tournament.
      - name: seasonId
        in: path
        required: true
        example: 36886
        schema:
          type: integer
        description: The unique identifier of the season.
      responses:
        '200':
          description: A JSON object containing the player's overall statistics for
            the season.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Player, tournament, or season with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/player/{id}/characteristics:
    get:
      tags:
      - Player
      summary: Get player characteristics
      operationId: playerCharacteristics
      description: Returns a list of a player's noted strengths and weaknesses based
        on statistical analysis.
      parameters:
      - name: id
        in: path
        required: true
        example: 3041
        schema:
          type: integer
        description: Unique identifier for the player.
      responses:
        '200':
          description: A JSON object containing the player's characteristics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Player with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/player/{id}/attribute:
    get:
      tags:
      - Player
      summary: Get player attributes
      operationId: playerAttributes
      description: Returns radar-chart attribute scores (e.g., attacking, defending)
        and other skill ratings for a player.
      parameters:
      - name: id
        in: path
        required: true
        example: 3041
        schema:
          type: integer
        description: The unique identifier of the player.
      responses:
        '200':
          description: A JSON object containing the player's attribute scores.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Player with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/player/{id}/transfer:
    get:
      tags:
      - Player
      summary: Get player transfer history
      operationId: playerTransferHistory
      description: Returns a chronological list of a player's transfers between clubs.
      parameters:
      - name: id
        in: path
        required: true
        example: 3041
        schema:
          type: integer
        description: Unique identifier for the player.
      responses:
        '200':
          description: A JSON object containing the player's transfer history.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Player with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/player/{id}/penalty:
    get:
      tags:
      - Player
      summary: Get player penalty history
      operationId: playerPenaltyHistory
      description: Returns information about a player's history of taking penalty
        kicks.
      parameters:
      - name: id
        in: path
        required: true
        example: 24055
        schema:
          type: integer
        description: Unique identifier for the player.
      responses:
        '200':
          description: A JSON object containing the player's penalty history.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Player with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/player/{id}/matches/previous/{page}:
    get:
      tags:
      - Player
      summary: Get player match history
      operationId: playerMatchHistory
      description: Fetches a paginated list of completed matches a player has participated
        in, sorted by most recent first.
      parameters:
      - name: id
        in: path
        required: true
        example: 826643
        schema:
          type: integer
        description: The unique identifier of the player.
      - name: page
        in: path
        required: true
        example: 0
        schema:
          type: integer
        description: The page number for pagination (must be >= 1).
      responses:
        '200':
          description: A paginated JSON object of the player's match history.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '400':
          description: Invalid page number format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Player with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/player/{id}/tournament/{tournamentId}/season/{seasonId}/heatmap:
    get:
      tags:
      - Player
      summary: Get player season heatmap overall
      operationId: playerSeasonHeatmapOverall
      description: Fetches a player's combined positional data heatmap for a specific
        tournament season.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the player.
      - name: tournamentId
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the tournament.
      - name: seasonId
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the season.
      responses:
        '200':
          description: A JSON object containing the player's overall heatmap for the
            season.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Player, tournament, or season with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/player/{id}/penalty-history/tournament/{tournamentId}/season/{seasonId}:
    get:
      tags:
      - Player
      summary: Get player penalty history by season
      operationId: playerPenaltyHistoryBySeason
      description: Provides a player's historical penalty kick data within a specific
        tournament and season.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: The unique identifier of the player.
      - name: tournamentId
        in: path
        required: true
        schema:
          type: integer
        description: The unique identifier of the tournament.
      - name: seasonId
        in: path
        required: true
        schema:
          type: integer
        description: The unique identifier of the season.
      responses:
        '200':
          description: A JSON object containing the player's penalty history for the
            season.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Player, tournament, or season with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/player/trending:
    get:
      tags:
      - Player
      summary: Get trending players
      operationId: trendingPlayers
      description: Retrieves a list of football players who are currently trending.
      responses:
        '200':
          description: A JSON object containing a list of trending players.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/manager/{id}:
    get:
      tags:
      - Manager
      summary: Get manager details
      operationId: managerDetails
      description: Returns biographical and statistical information for a specific
        manager (coach).
      parameters:
      - name: id
        in: path
        required: true
        example: 787526
        schema:
          type: integer
        description: The unique identifier for the manager.
      responses:
        '200':
          description: A JSON object containing detailed information about the manager.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Manager with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/manager/{id}/image:
    get:
      tags:
      - Manager
      summary: Get manager image
      operationId: managerImage
      description: Returns the profile image for the specified manager ID. The response
        is the raw image data.
      parameters:
      - name: id
        in: path
        required: true
        example: 787526
        schema:
          type: integer
        description: Unique identifier for the manager.
      responses:
        '200':
          description: The manager's profile image file.
          content:
            image/png:
              schema:
                type: string
                format: binary
        '404':
          description: Manager with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/manager/{id}/history:
    get:
      tags:
      - Manager
      summary: Get manager career history
      operationId: managerCareerHistory
      description: Lists the teams previously and currently managed by a specific
        manager.
      parameters:
      - name: id
        in: path
        required: true
        example: 787526
        schema:
          type: integer
        description: The unique identifier for the manager.
      responses:
        '200':
          description: A JSON object containing the manager's career history.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONResult'
        '404':
          description: Manager with the specified ID not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
[...]
